{% case site.color-scheme %}
  {% when "", nil, false, 0, empty %}
    {% assign ColorScheme = "auto" %}
  {% else %}
    {% assign ColorScheme = site.color-scheme %}
{% endcase %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v="              | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header role="banner">

        {% comment %}
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% endcomment %}

        <div id="menuToggle">
          <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
          <div id="burger">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
          

          
            <ul id="menu">
              <a href="javascript:;" onclick="showBurgerProjects()" id="projects" class="menu-item">Projects</a>
              <ul id="burgerDropdown" class="dropdown-content">
                {% for item in site.data.projectmenu.docs %}
                  <li><a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
              {% for item in site.data.homemenu.docs %}
                <a href="{{ item.url }}" id="{{ item.title }}" class="menu-item">{{ item.title }}</a>
              {% endfor %}
            </ul>
          </div>

          <label class="switch">
            <input id="lightDark" type="checkbox" onclick="lightDarkToggle(this)">
            <span class="slider round"></span>
            <span class="labels" data-on="dark" data-off="light"></span>
          </label>
        </div>
          <img class="logo" id="lightmode-logo" src="{{site.blacklogo | relative_url}}" alt="Logo" onclick="goHome()"/>
          <img class="logo" id="darkmode-logo" src="{{site.whitelogo | relative_url}}" alt="Logo" onclick="goHome()"/>
        
        <div id="desktopMenu" class="menu">
          <a href="javascript:;" onclick="showProjects()" id="projects" class="menu-item">Projects</a>

          {% for item in site.data.homemenu.docs %}
            <a href="{{ item.url }}" id="{{ item.title }}" class="menu-item">{{ item.title }}</a>
          {% endfor %}
        </div>

        
        <!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

        <ul id="dropdown" class="dropdown-content">
          {% for item in site.data.projectmenu.docs %}
            <li><a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        <div  id="content">
          {{ content }}
        </div>
      </section>
      <footer>

        {% comment %}
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        {% endif %}
        {% endcomment %}

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>

  <script>
    const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)'); 
    if (prefersDarkScheme.matches && localStorage.getItem("darkMode") === null) {
      localStorage.setItem("darkMode", true);
    } else if (localStorage.getItem("darkMode") === null) {
      localStorage.setItem("darkMode", false);
    }

    
    if (localStorage.getItem("darkMode") === 'true') {
      document.documentElement.classList.add('dark-mode');
      document.getElementById("lightDark").checked = true;
    } else {
      document.documentElement.classList.remove('dark-mode');
      document.getElementById("lightDark").checked = false;
    }

    function lightDarkToggle() {
      if (document.documentElement.classList.contains("dark-mode")){

        document.documentElement.classList.remove("dark-mode");
        localStorage.setItem("darkMode", false);
      } else {
        document.documentElement.classList.add("dark-mode");
        localStorage.setItem("darkMode", true);
      }
    }
    
    let clicked = false;
    let nav = document.getElementsByClassName('menu-item');
    let pnav = document.getElementsByClassName("dropdown-item");
    for (let i = 0; i < nav.length; i++){
      nav[i].addEventListener('mouseover', highlight);
      nav[i].addEventListener('mouseout', unHighlight);
    }
    for (let i = 0; i < pnav.length; i++){
      pnav[i].addEventListener('mouseover', pHighlight);
      pnav[i].addEventListener('mouseout', pUnHighlight);
    }

    function showProjects() {
      clicked = !clicked;
      document.getElementById("dropdown").classList.toggle("show");
      document.getElementById("content").classList.toggle("hide");
      return false;
    }

    function showBurgerProjects() {
      clicked = !clicked;
      document.getElementById("burgerDropdown").classList.toggle("show");
      return false;
    }

    function highlight() {
      if (!clicked) {
        for (let i = 0; i < nav.length; i++) {
          if (nav[i] != this) nav[i].style.color = 'grey';
        }
      } else {
        document.getElementById("projects").style.color = 'grey';
        this.style.color = '';
      }
    }

    function unHighlight(){
      if (!clicked){
        for (let i = 0; i < nav.length; i++) {
          nav[i].style.color = '';
        }
      } else {
        for (let i = 0; i < nav.length; i++) {
          nav[i].style.color = 'grey';
        }
        document.getElementById("projects").style.color = '';
      }
    }

    function pHighlight() {
        for (let i = 0; i < pnav.length; i++) {
            if (pnav[i] != this) pnav[i].style.color = 'grey';
        }
    }

    function pUnHighlight(){
        for (let i = 0; i < pnav.length; i++) {
            pnav[i].style.color = '';
        }
    }

    function goHome(){
      window.location.href = "{{ "/" | absolute_url }}";
    }
  </script>
</html>
